absl-py==2.0.0
accelerate==0.23.0
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
arrow==1.2.3
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
blessed==1.20.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
croniter==1.4.1
datasets==2.14.5
dateutils==0.6.12
deepdiff==6.5.0
dill==0.3.7
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.12.4
frozenlist==1.4.0
fsspec==2023.6.0
google-auth==2.23.2
google-auth-oauthlib==1.0.0
grpcio==1.59.0
h11==0.14.0
huggingface-hub==0.17.2
idna==3.4
importlib-metadata==6.8.0
inquirer==3.1.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
lightning==2.0.9
lightning-cloud==0.5.38
lightning-utilities==0.9.0
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
munch==4.0.0
networkx==3.1
nltk==3.8.1
numpy==1.26.0
oauthlib==3.2.2
ordered-set==4.1.0
packaging==23.1
pandas==2.1.1
Pillow==10.0.1
protobuf==4.24.3
psutil==5.9.5
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.1.1
pydantic_core==2.4.0
Pygments==2.16.1
PyJWT==2.8.0
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.9
pytz==2023.3.post1
PyYAML==6.0.1
readchar==4.0.5
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.3
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.3.3
sconf==0.2.5
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
starsessions==1.3.0
sympy==1.12
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
timm==0.6.13
tokenizers==0.14.1
torch==2.0.1
torchmetrics==1.2.0
torchvision==0.15.2
tqdm==4.66.1
traitlets==5.10.0
transformers==4.34.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
uvicorn==0.23.2
wcwidth==0.2.6
websocket-client==1.6.3
websockets==11.0.3
Werkzeug==3.0.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.17.0
zss==1.2.0
